html{
    background-color:rgb(255, 255, 255);
    min-height: 100vh;
}

.button-zone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-right: 20px;
    padding: 20px;
    border: 5px double black;
    background-color:rgba(224, 224, 224, 0.76);
}
h1{
    text-align: center;
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    font-size: 8.5em;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 680px;
    min-width: 680px;
    width: 680px;
    border: 15px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.36);
}

.cell{
    margin: none;
    background-color: blue;
    box-sizing: border-box;
}

.gridBorder{
    border: 1px solid rgb(0,0,0,0.3);
}

.wrapper{
    display: flex;
    justify-content: center;
}

.sliderContainer {
    width: 180px;
    align-self: center;
    text-align: center;
}

#slider{
    width: 80%;
}

/* CSS */
.button-36 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;

  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0.25em 0.75em;
  }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .gridModifier, .shaders{
    display: flex;
    align-items: center;
  }

  p, .text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    padding: 8px;
    margin-left: 16px;
    white-space: nowrap;
  }

  .color{
    padding: 0;
  }