html{
    background-color: #A9C9FF;
    background-image: radial-gradient(#ffffff 5%,#A9C9FF 100%);
    min-height: 100vh;
}

.button-zone {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    text-align: center;
    font-family: "Micro 5 Charted", sans-serif;
    font-weight: 400;
    font-size: 8.5em;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 680px;
    min-width: 680px;
    width: 680px;
    border: 15px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.36);
}

.cell{
    margin: none;
    background-color: blue;
    box-sizing: border-box;
}

.gridBorder{
    border: 1px solid rgb(0,0,0,0.3);
}

.wrapper{
    display: flex;
    justify-content: space-evenly;
}

.sliderContainer {
    width: 200px;
    min-width: 200px;
    align-self: center;
    text-align: center;
}

#slider{
    width: 100%;
}